Project1设计文档

一.	程序结构设计与分析：
首先读取地图，并且写一个循环来帮助使程序进行下去，写各种子方法帮助程序进行，每次改变读入的文件的值，在根据一定的对应关系输出地图。在进行各种吃法的时候，根据动物旁边是水，空白，兽穴，动物进行分类，然后一一列出可能的情况，并且根据规则改变文件中的字符，从而打印出执行过指令的新的地图！

二.	主要函数的功能：
1.	laodTileMap—输入地形图文件，以供读取和改变；
2.	loadAnimals—输入动物地图文件，以供读取和改变；
3.	main—引用各种方法完成指令；
4.	locationFound—使用两层循环找到指令中的动物的位置并且使其移动到下一步；
5.	printboard—根据输入的改变后的棋盘，将字符转化为地图输出；
6.	animalBlank—是动物可以移动到空白处；
7.	animalsBesideRiver—讨论动物进入河的情况；
8.	animalsBesideDen—己方动物不可进入己方兽穴，敌方进入己方兽穴，己方胜利；
9.	animalsCapture—动物间的吃法，以及被吃的动物是否在敌方陷阱里；
10.	victoryOrDefeat—胜负判断只写了其中一方全被吃掉

三.	简要描述如何使用你的程序：
   只需点击run按钮运行这个程序，按照提示输入指令即可，左方玩家先输入指令，指令有效方换右方玩家输入指令，如果对有游戏有什么不懂的，可以输入help查看游戏说明。

四.	编程中遇到的问题和解决策略：
1.首先输出地图时不知道怎样读取文件？通过回顾lab4的文档，以及询问助教和班里的大神；

2.输出地图的时候不知道怎样将两个地图同时输出？原来写了两个方法，一个输出地形地图，一个输出动物地图，当动物地图读取到‘0’时，输出地形图，这就造成了输出几个动物以后输出了一个完整了地形图，，尴尬，后来问了助教解决方法，应该是根据其中的字符为不为0时决定要不要读取另一个地图中的字符，这样就很简单地解决了我的问题；

3.写让动物移动的时候，一方动了以后要改变布尔值，从而让另一方下指令，但是我却将判断条件写成了“true”，而不是布尔变量“turn”，所以每次都是左方行动，轮不到右方。。这是问班里的大神才解决的，看来我还是不够细心；

4.让动物动的时候出现了一个很“有趣”的现象，就是我的动物会一直动到边界才停？然后检查了代码才知道执行完让他动的语句以后并没有跳出循环，而是继续执行，一直到边界。我觉得这也是一个教训吧，写代码时还得好好思考，毕竟电脑和人脑构造不同，要注意逻辑的严密。

5.写让动物移动的时候分类搞错了，本来想的是分为动物下一步为空白，下一步为河，下一步为兽穴，下一步为陷阱，下一步为动物，此时在陷阱里，此时在河里，此时在兽穴里这样来写，自我感觉逻辑很严密，但是发现并没有这个必要，很多都是可以合并的，这就是优化代码吧~

6.写完动物的吃法后出来一个提示Hot Swap failed. project1: delete method not implemented; project1: Operation not supported by VM我没看懂，但是利用了金山词霸明白了它的意思是我有的方法可以删掉，因为无法实施，但是并不知道什么样的方法会无法实施，所以用谷歌查了一下，才知道方法里有的内容重复了，虚拟机不知道执行哪一个，所以又认真地检查了一遍代码，删掉了不必要的内容。

7.写完一个方法以后方法名下被划上了线，并且提示我intellij认为我的方法太复杂，我原本以为电脑巨有非常强大的计算能力，所以写了很多很复杂的判断语句，但是我现在明白了要互相体谅，同时也说明了我的代码写的太啰嗦，可以简化的地方都没有简化，又思考了很久，才写的稍微简单一点点，但是以后仍需努力！

8.在写悔棋的时候，定义的三维数组不能被初始化，找了很久也没有找到问题。。。所以就没有写悔棋撤销悔棋和restart。

五.	意见与建议：
1.	首先，助教们真的很棒，不只是A班，B班的人也十分喜欢你们~
2.	再者，平常lab质量也都非常高，课后还有复习，还给我们写示例代码让我们思考，再夸一次(鼓掌)。
3.	最后，希望助教课下给我们分享一下自己的学习经验，也让我们这些学渣快点上道~

